/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */
 body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    padding: 10px;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
} */

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */




.body {
    padding: 0;
}

.hlavni-recept {
    background-image: url(images/burger.jpg);
    background-position: center;
    background-size: cover;    
    padding: 10px; 
    border: 1px solid;
    min-height: 200px;
    font-size: 28px;
    position: relative;

}

.sloupec {
    font-size: 18px;
    opacity: 0.9;
   
}

.recept {
    background-position: center;
    background-size: cover;
    padding: 10px; 
    border: 1px solid; 
    min-height: 90px;
    font-size: 18px;
    position: relative;
}

.recept2 {
    background-image: url(images/sushi.jpg);
}

.recept3 {
    background-image: url(images/rajcata.jpg);
}

.recept4 {
    background-image: url(images/kure.jpg);
}

.recept5 {
    background-image: url(images/grilovani.jpg);
}

.recept-kategorie {
    font-size: 14px;
    font-weight: 400;
    float: left;
}

.recept-komentare {
    font-size: 14px;
    font-weight: 400;
    float: right;
}

h2 {
    font-weight: 800;
    clear: both;
    position: absolute; 
    bottom: 10px;   
}

@media (min-width: 480px) and (max-width: 799px) {
    .doporucujeme {
        display: flex;
        flex-wrap: wrap;
    }

    .hlavni-recept {
        padding: 20px;
        min-height: 250px;
        font-size: 36px;
        flex: 1 0 100%;
    }

    .sloupec {
        font-size: 22px;
        flex: 1 0 33.3333%;
    }

    .recept {
        padding: 20px;
        min-height: 150px;
    }
}

/*notebook/pc:*/
@media (min-width: 800px) {
    
    .doporucujeme {
        display: flex;
    }

    .hlavni-recept {
        padding: 20px;
        min-height: 400px;
        font-size: 48px;
        flex-grow: 2;
        flex-shrink: 1;
    }

    .sloupec {
        font-size: 28px;
        flex-grow: 1;
        flex-shrink: 1;
    }    

    .recept {
        padding: 20px;
        min-height: 200px;
    }
}
